# RedM
set gamename rdr3
set sv_enforceGameBuild 1491
set onesync on
set sv_stateBagStrictMode true
sv_maxclients 64
sv_licenseKey "CHANGE_ME"

# Database
set mysql_connection_string "mysql://redm:password@127.0.0.1/redm?charset=utf8mb4"

ensure MS_LoadingScreen
ensure oxmysql
ensure MSCore
ensure MS_PlayerSync
ensure MS_mechat
ensure MS_pointing
ensure MS_Medic
ensure MS_WeaponDamage
ensure MS_Inventory
ensure MS_BasicNeeds
ensure MS_HUD
ensure MS_Jail
ensure MS_ClothingShop
ensure MS_Stables
ensure MS_Trains
ensure MS_Telegrams
ensure MS_WorldBuilder
ensure MS_AdminMenu
ensure MS_GuarmaOnboarding
ensure MS_MapEditor
ensure MS_AdminLogout
ensure MS_Example

# Framework admins
add_ace group.admin mscore.admin allow
add_ace group.admin mscore.admin.menu allow
add_ace group.admin mscore.worldbuilder allow
add_ace group.admin mscore.mapeditor allow
add_ace group.admin mscore.admin.logout allow
add_ace group.admin mscore.admin.guarma allow
add_ace group.admin mscore.admin.jail allow
add_ace group.admin mscore.weapon.damage allow
add_ace group.admin mscore.version.check allow
# add_principal identifier.license:YOUR_LICENSE group.admin
