# RedM
set gamename rdr3
set sv_enforceGameBuild 1491
set onesync on
set sv_stateBagStrictMode true
sv_maxclients 64
sv_licenseKey "CHANGE_ME"

# Database
set mysql_connection_string "mysql://redm:password@127.0.0.1/redm?charset=utf8mb4"

ensure MS_LoadingScreen
ensure oxmysql
ensure frontier_core
ensure frontier_playersync
ensure MS_mechat
ensure MS_pointing
ensure MS_Medic
ensure MS_WeaponDamage
ensure MS_Inventory
ensure MS_ClothingShop
ensure MS_Stables
ensure MS_Trains
ensure MS_Telegrams
ensure frontier_worldbuilder
ensure frontier_adminmenu
ensure frontier_guarma_onboarding
ensure frontier_mapeditor
ensure frontier_adminlogout
ensure frontier_example

# Framework admins
add_ace group.admin frontier.admin allow
add_ace group.admin frontier.admin.menu allow
add_ace group.admin frontier.worldbuilder allow
add_ace group.admin frontier.mapeditor allow
add_ace group.admin frontier.admin.logout allow
add_ace group.admin frontier.admin.guarma allow
add_ace group.admin frontier.weapon.damage allow
add_ace group.admin frontier.version.check allow
# add_principal identifier.license:YOUR_LICENSE group.admin
